body {
    background-color: #1e3f7f;
}

h1 {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 700;
    font-size: 7.5rem;
    /* line-height: 1rem; */

    color: #F6F6F6;
    margin-bottom: 0%;
}

h3 {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 0%;
    color: #F6F6F6;
    margin-bottom: 0;
}

.tudo {
    display: flex;
    justify-content: space-between;
    margin-top: -6rem;
}

.frases{
    margin-left: 5rem;
    margin: auto;
}

img {
    margin-right: 5rem;
    margin-top: 6rem;
    width: 40rem;
    width: 35rem;
}

.final {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 100;
    font-size: 1.7em;
    width: 80%;
    height:0;
    /* line-height: 1rem; */
    margin: auto;
    text-align: center;
    color: #F6F6F6;
}