body, h1, h2, button, input, p, span{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  background: #1E3F7F;

}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1e3e7f00;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(14, 27, 53);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid #1E3F7F;  /* creates padding around scroll thumb */
}